fastapi==0.120.2
uvicorn==0.38.0
sqlalchemy==2.0.44
psycopg2-binary==2.9.11
asyncpg==0.30.0
greenlet==3.1.1
python-dotenv==1.2.1
pydantic==2.12.3
pydantic-settings==2.11.0
alembic==1.17.1
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
structlog==24.4.0
python-json-logger==2.0.7
boto3==1.35.76
pandas==2.2.0
openpyxl==3.1.2
pwdlib[argon2]
pyjwt
slowapi
uuid-utils
httpx
mailtrap
google-genai
Pillow
